* {
    box-sizing: border-box;
  }

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif
}

#karaoke {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.myInput {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3em;
    width: 80%;
    text-align: center;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

::placeholder {
color: #ddd;
opacity: 1; /* Firefox */
}

#myTable {
display: block;
margin: 0 auto;
font-size: 3em;
border-collapse: collapse;
width: 80%;
min-width: 80%;
border: 1px solid #ddd;
}

#myTable th, #myTable td {
text-align: left;
padding: 12px;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1D4B66;
    color: white;
  }


#myTable tr {
border-bottom: 1px solid #ddd;
background-color: #008bbe;
color: white;

}

#myTable tr:nth-child(even){background-color: #1D4B66;}
